body {
    background-color: #bfd3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 560px;
    width: 355px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30px 85px 20px repeat(5, 85px);
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(to bottom right, #dee9fd, #edf5fc);
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
}

.btn {
    text-align: center;
    color: rgb(54, 55, 57);
    border-radius: 100px;
    font-size: 30px;
    font-family: Helvetica;
    height: 70px;
    width: 70px;
    border-style: none;
    background-image: linear-gradient(to bottom right, #dee9fd, #edf5fc);
    box-shadow: 28px 28px 50px rgba(67, 73, 82, 0.16), -23px -23px 45px rgb(240, 255, 255);
}

.btn:hover {
    animation-name: pulse;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

@keyframes pulse {
    0% {color: rgb(83, 85, 88);}
    50% {color:white;}
    100% {color: rgb(83, 85, 88);}
}

.btn:active {
    box-shadow: 0 5px rgba(100, 100, 100, .01);
    transform: translateY(4px);
}

.display-container {
    background-color: white;
    grid-column: 1 / 5;
    grid-row: 1/ 3;
    width: 350px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-image: linear-gradient(to bottom right, #edf5fc, #dee9fd);
    box-shadow: 28px 28px 50px rgba(67, 73, 82, 0.16), -14px -14px 45px rgb(245, 255, 255);
}

.display {
    overflow: hidden;
    height: 70px;
    width: 320px;
    border-radius: 7px;
    background: #F7A78C;
    background: radial-gradient(at left bottom, #8dabfd, #ffa4c8);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.display-content {
    font-family: Helvetica;
    font-size: 45px;
    color: rgb(54, 55, 57);
    padding: 3px;
    flex-shrink: 1;
}

.zero-btn {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
}

.one-btn {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

.two-btn {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

.three-btn {
    grid-column: 3 / 4;
    grid-row: 7 /8;
}

.four-btn {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.five-btn {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.six-btn {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}

.seven-btn {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.eight-btn {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.nine-btn {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

.add-btn {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
    border-radius: 20px;
    padding-bottom: 6px;
}

.subtract-btn {
    grid-column: 4 / 5;
    grid-row: 5/ 6;
    border-radius: 20px;
    font-size: 30px;
}

.multiply-btn {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    border-radius: 20px;
    padding-top: 15px;
}

.divide-btn {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    border-radius: 20px;
}

.decimal-btn {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
    border-radius: 20px;
}

.clear-btn {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
    border-radius: 20px;
}

.backspace-btn {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    border-radius: 20px;
}

.equals-btn {
    grid-column: 3 / 5;
    grid-row: 8 / 9;
    width: 155px;
    border-radius: 20px;
    color: rgb(255, 105, 105);
}

/*slider*/

.slider-container {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(54, 55, 57);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 7px;
    bottom: 4px;
    background-color: rgb(54, 55, 57);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    box-shadow: inset 6px -4px 0 white;
}

input:checked + .slider {
    background-color: rgb(54, 55, 57);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(54, 55, 57);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: white;
}

.light {
    height: 6px;
    width: 6px;
    background-color: rgb(193, 193, 193);
    border-radius: 50%;
}

body.dark-background {
    background-color:#887ba7
}

.dark-main-container {
    background-image: linear-gradient(to bottom right, #1d1720, #000000);
    box-shadow: 20px 30px 60px rgb(60, 51, 71);
}

.dark-numbers {
    text-shadow: 0px 0px 2px rgb(225, 195, 252);
    color: rgb(243, 230, 255);
    font-family: Helvetica;
    background-image: linear-gradient(to bottom right, #2c2642, #191526);
    box-shadow: 0 2px #2e2c35; 
    border: solid rgb(93, 74, 93) 1px;
}

.dark-operators {
    text-shadow: 0px 0px 2px rgb(225, 195, 252);
    color: rgb(243, 230, 255);
    font-family: Helvetica;
    background-image: linear-gradient(to bottom right, #2c2642, #191526);
    border: solid rgba(89, 71, 89) 1px;
    box-shadow: 0 2px #2e2c35; 
}

.dark-backspace {
    text-shadow: 0px 0px 2px rgb(225, 195, 252);
    color: rgb(243, 230, 255);
    font-family: Helvetica;
    background-image: linear-gradient(to bottom right, #2c2642, #191526);
    border: solid rgba(89, 71, 89) 1px;
    box-shadow: 0 2px #2e2c35; 
}

.dark-clear {
    text-shadow: 0px 0px 2px rgb(225, 195, 252);
    color: rgb(243, 230, 255);
    font-family: Helvetica;
    background-image: linear-gradient(to bottom right, #2c2642, #191526);
    border: solid rgba(89, 71, 89) 1px;
    box-shadow: 0 2px #2e2c35;
}

.dark-decimal {
    text-shadow: 0px 0px 2px rgb(225, 195, 252);
    color: rgb(243, 230, 255);
    font-family: Helvetica;
    background-image: linear-gradient(to bottom right, #2c2642, #191526);
    border: solid rgba(89, 71, 89) 1px;
    box-shadow: 0 2px #2e2c35; 
}

.dark-equals {
    width: 155px;
    text-shadow: 0px 0px 2px rgb(255, 100, 100);
    color: rgb(255, 105, 105);
    font-family: Helvetica;
    background-image: linear-gradient(to bottom right, #2c2642, #191526);
    border: solid rgba(89, 71, 89) 1px;
    box-shadow: 0 2px #2e2c35; 
}

.dark-display-container {
    background-image: linear-gradient(to bottom right, #000000, #000000);
    border: solid rgb(44, 40, 40) 2px;
    box-shadow: 0px 0px 0px rgba(67, 73, 82, 0.16), 0px 0px 0px rgb(245, 255, 255);
}

.dark-display {
    box-shadow: 0px 0px 15px 2px grey;
}

.dark-display-content {
    color: black;
}

.dark-light {
    background-color: rgb(150, 255, 94);
    box-shadow: 0px 0px 5px 2px rgb(27, 211, 36);
    transition-delay: .07s;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica;
    font-size: 18px;
    color: rgb(54, 55, 57);
    font-weight: 500;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(54, 55, 57);
}

@media (max-width: 60em) {
    body {
        margin: 0;
        padding: 0;
    }
    .main-container {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        width: 100vw;
    }

    .btn {
        padding: 0;
    }
}